@using Template_DevExpress_By_MFM.Models

@{
    ViewBag.Title = "ChangePassword Customer";
    var logSession = HttpContext.Current.Session["SHealth"] as SessionLogin;
}


<style>
    .account-page-full {
        left: 0;
        position: absolute;
        height: 100%;
        margin: 0;
        width: 420px;
        background-color: #ffffff;
    }


    .accountbg {
        background: url("../images/bg.jpg");
        position: absolute;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        top: 0;
    }

    .account-page-full {
        left: 0;
        position: absolute;
        height: 100%;
        margin: 0;
        width: 420px;
        background-color: #ffffff;
    }

        .account-page-full .logo {
            line-height: 70px;
        }

        .account-page-full .card {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
</style>

<!-- Begin page -->

<div class="wrapper-page">

    <div class="modal fade" id="modal-message" style="margin:auto;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myLargeModalLabel2" style="text-align:center;font-size:17px;">Informasi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="row col-12" style="margin:auto;">
                                <h6 class="modal-title mt-0" id="text-message" style="text-align:center;font-size:16px;font-weight:bold;"></h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <div class="text-center" style="margin-top:10px;">
                <img src="~/Content/images-new/logo_gs_battery_dark.jpg" height="60" alt="logo">
            </div>

            <div class="p-3">
                <h4 class="font-18 m-b-5 text-center"> Change Password for Customer PT GS Battery!</h4>
                <br /><br />

                <div class="form-group" style="margin-top:10px;">
                    <label for="username"> Username</label>
                    <input type="text" class="form-control" id="username" disabled readonly value="@logSession.npk (@logSession.fullname)" placeholder="Enter username">
                </div>

                <div class="form-group">
                    <label for="userpassword">New Password</label>
                    <input type="password" class="form-control" id="userpassword" placeholder="Enter password">
                </div>

                <div class="form-group">
                    <label for="userpassword_retype">Retype Password</label>
                    <input type="password" class="form-control" id="userpassword_retype" placeholder="Enter retype password">
                </div>

                <div class="form-group row m-t-20">
                    <div class="col-sm-12 text-right">
                        <button id="btn_save" class="btn btn-primary w-md waves-effect waves-light" type="button"> Save</button>
                    </div>
                </div>

                @*<div class="row col-12" id="loading-spinner" hidden>
            <div class="spinner-border text-info" role="status" style="margin:auto;padding:20px;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>*@
            </div>
        </div>
    </div>
</div>
<!-- end wrapper-page -->

@section scripts{
    <script>

        $(document).ready(function () {
            //document.getElementById("btn_save").click();
            document.getElementById("btn_save").disabled = true;

            var passwordretype = document.getElementById("userpassword_retype");
            passwordretype.addEventListener("change", function (event) {
                console.log(event.target.value + " " + $("#userpassword").val());
                if (event.target.value != $("#userpassword").val()) {
                    DevExpress.ui.notify("Retype password invalid!", "warning", 1500);
                    document.getElementById("btn_save").disabled = true;
                } else {
                    document.getElementById("btn_save").disabled = false;
                }
            });
        });


        !function ($) {
            "use strict";

            var SweetAlert = function () {
            };


            var passwordSubmit = document.getElementById("userpassword_retype");

            //examples
            SweetAlert.prototype.init = function () {

                passwordSubmit.addEventListener("keyup", function (event) {
                    // Number 13 is the "Enter" key on the keyboard
                    if (event.keyCode === 13) {
                        // Cancel the default action, if needed
                        event.preventDefault();
                        // Trigger the button element with a click
                        document.getElementById("btn_save").click();
                    }
                });

                $('#btn_save').click(function () {



                    if ($('#userpassword').val() == "") {
                        $('#modal-message').modal('show');
                        $('#text-message').html("Password masih kosong. Harap untuk mengisi dan mencoba kembali!");
                        setTimeout(() => {
                            $('#modal-message').modal('hide');
                        }, 2000);
                        return;
                    }

                    if ($('#userpassword_retype').val() == "") {
                        $('#modal-message').modal('show');
                        $('#text-message').html("Password Retype masih kosong. Harap untuk mengisi dan mencoba kembali!");
                        setTimeout(() => {
                            $('#modal-message').modal('hide');
                        }, 2000);
                        return;
                    }

                    if ($('#userpassword').val != "" && $('#userpassword_retype').val != "") {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("PostChangePassword", "ChangePassword")',
                            data: {
                                userpass: $('#userpassword').val(),
                                userpass_retype: $('#userpassword_retype').val(),
                                /*cust: true,*/
                            },
                            beforeSend: function () {
                                Swal.showLoading()
                            },
                            success: function (response) {
                                Swal.DismissReason.cancel

                                if (response.status_code == 200 && response.status) {
                                    $('#userpassword').val("");
                                    $('#userpassword_retype').val("");

                                    Swal.fire(
                                        {
                                            title: 'Complete!',
                                            text: 'Change Password Success!',
                                            type: 'success',
                                            showCancelButton: false,
                                            confirmButtonColor: '#626ed4',
                                            cancelButtonColor: "#ec4561"
                                        }
                                    )
                                    setTimeout(() => {
                                        $('#modal-message').modal('hide');
                                    window.location.pathname = '@Url.Action("Index", "Login")';
                                    }, 5000);
                                }
                                else if (response.status_code == 404) {
                                    Swal.fire(
                                        {
                                            title: 'Failed!',
                                            text: 'Account not found! \n Username/Password incorrect. \n Please check again!',
                                            type: 'error',
                                            showCancelButton: false,
                                            confirmButtonColor: '#626ed4',
                                            cancelButtonColor: "#ec4561"
                                        }
                                    )
                                }
                                else if (response.status_code == 403) {
                                    Swal.fire(
                                        {
                                            title: 'Failed!',
                                            text: 'Account is not active! \n Please contact Administrator (IT)!',
                                            type: 'warning',
                                            showCancelButton: false,
                                            confirmButtonColor: '#626ed4',
                                            cancelButtonColor: "#ec4561"
                                        }
                                    )
                                }
                                else {
                                    Swal.fire(
                                        {
                                            title: 'Failed!',
                                            text: 'Failed to Login',
                                            type: 'warning',
                                            showCancelButton: false,
                                            confirmButtonColor: '#626ed4',
                                            cancelButtonColor: "#ec4561"
                                        }
                                    )
                                }

                            },
                            error: function (xhr, status, error) {
                                Swal.DismissReason.cancel
                                console.log(error);
                            }
                        });
                    }
                });

            },
                //init
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert
        }(window.jQuery),

            //initializing
            function ($) {
                "use strict";
                $.SweetAlert.init()
            }(window.jQuery);

    </script>

}
